@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/iranyekan/iranyekanwebbold(fanum).woff") format('woff'),
       url("./fonts/iranyekan/iranyekanwebbold(fanum).ttf") format('ttf'),
       url("./fonts/iranyekan/iranyekanwebbold(fanum).eot") format('eot');
}


@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/iranyekan/iranyekanwebregular(fanum).woff") format('woff'),
       url("./fonts/iranyekan/iranyekanwebregular(fanum).ttf") format('ttf'),
       url("./fonts/iranyekan/iranyekanwebregular(fanum).eot") format('eot');
}
